* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #4e4e4e;
}

body {
  width: 100%;
  font-family: 'Catamaran', sans-serif;
}

  /* Header */
header{
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.5em;
  width: 100%;
  height: 4em;
  border-bottom: 1px solid #dbdbdb;
}

main {
  position: relative;
  top: 4em;
}

a {
  text-decoration: none;
}

p{
  line-height: 1.5em;
}

.desktop{
  display: none;
}

.logo{
  height: 2em;
  display: flex;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5em;
  width: 75%;
}

.menu-item {
  text-decoration: none;
}

@media only screen and (min-width: 581px) and (max-width: 665px){
  .menu-item {
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 1200px){
  body {
    width: 90%;
    margin: 0 auto;
  }

  header {
    width: inherit;
  }
}

@media only screen and (min-width: 580px){

  section {
    padding: 0 1.5em;
  }
  
  .mobile{
    display: none;
  }
  
  .desktop {
    display: block;
  }
  
  .menu{
    justify-content: flex-end;
  }

  .menu-item {
    padding-left: 1em;
  }
}

/* Section banner */
.banner {
  display: flex;
  flex-direction: column;
  background-color: #dbdbdb;
  height: auto;
}

.banner-img {
  width: 100%;
  height: auto;
}

.banner-text {
  padding: 2em 1em;
}

.title{
  font-size: 2em;
  font-weight: bold;
  line-height: 1.5em;
}

.subtitle-small {
  font-size: 1.2em;
  margin: 1em 0;
  line-height: 1.5em;
}

.enroll {
  background-color: #9b9b9b;
  width: 100%;
  height: 3em;
  border: 2px solid #9b9b9b; 
  color: #fff;
  font-weight: bold;
  padding: 8px;
  text-align: center;
}

.enroll:hover{
  background-color: #4e4e4e;
  border: 2px solid #4e4e4e;
}

@media only screen and (min-width: 583px){
  .banner{
    flex-direction: row;
    width: 100%;
  }

  .banner-img {
    width: 60%;
    margin: 2em 1.5em 2em 0;
  }

  .banner-text {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .title{
    font-size: 2em;
  }

  .enroll {
    max-width: 480px;
  }
}

/* Information section */
.information {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.info-article {
  width: 60%;
  padding: 2em 1.5em;
}

.info-article-img {
  width: 100%;
  padding-right: 1.5em;
}

.subtitle {
  margin-top: 1.333em;
}

.info-article .text {
  margin: 1.5em 0;
}

.info-news {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.news {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
}

.news:hover {
  background-color: #dbdbdb;
}

.news-item-img {
  width: 100%;
  margin: 1em;
}

.news-item {
  width: 100%;
  margin-bottom: 2em;
}

.subtitle-small {
  margin: 0;
}

.news-item a{
  color: #5b9ae3;
}

@media only screen and (min-width: 583px){
  .info-news {
    width: 40%;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid #dbdbdb;
  }
  
  .news{
    flex-direction: row;
    padding-bottom: 1em;
    
  }
  
  .news-item {
    width: 65%;
    padding-top: 2em;
  }
  
  .news-item-img {
    width: 35%;
    height: auto;
    padding-top: 1em;
  }
  
  .news-item .text {
    padding: 0.5em 0;
  }
}

/* Courses section */
.courses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.courses-block {
  padding: 1em 1em 2em;
}

button.course {
  background-color: #dbdbdb;
  width: 100%;
  height: auto;
  border: 2px solid #dbdbdb; 
  font-weight: bold;
  margin: 0.6em 0;
  text-align: left;
}

button .subtitle-small{
  margin: 1.5em 1em;
}

.course-img {
  width: 100%;
  height: auto;
}

.uppercased {
  text-transform: uppercase;
  margin: 0.5em 0;
}

.capitalized {
  text-transform: capitalize;
}


@media only screen and (min-width: 583px){
  .courses {
    background-color: #dbdbdb;
    height: auto;
  }
  
  .courses-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 1em 4.5em;
  }
  
  .course{
    width: 30%;
    height: auto;
    margin-bottom: 2em;
    background-color: #fff;
  }
  
  .course-description {
    height: 9em;
    margin: 1em 1em 2em;
    overflow: scroll;
  }

}

